<h1>{{name}}</h1>
<div class="container">
  <ul>
    <li>Age: {{age}}</li>
    <li>Email: {{email}}</li>
    <li>{{address.street}} {{address.city}} {{address.state}}</li>
  </ul>

  <button class="btn" (click)="onClick()">Add</button>
  <h1>Edit User</h1>
  <form >
    <div class="input-field">
      <label for="name">Name:   </label>
      <input type="text">
    </div>
    <div class="input-field">
      <label for="name">Age:   </label>
      <input type="number">
    </div>
    <div class="input-field">
      <label for="name">Email:   </label>
      <input type="email">
    </div>
    <div></div>
  </form>

  <h2>Hobbies</h2>
  <form (submit)="addHobby(hobby.value)">
    <div>
      <label for="hobby">Hobby:</label>
      <input type="text" #hobby>
    </div>
  </form>
  <ul>
    <li *ngFor='let hobby of hobbies; let i = index;'>{{i + 1}}: {{hobby}}
      <button class="btn" (click)="deleteHobby(hobby)">Delete</button>
    </li>
  </ul>
</div>
